# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# File descriptions
* **sales_train.csv** - the training set. Daily historical data from January 2013 to October 2015.
* **test.csv** - the test set. You need to forecast the sales for these shops and products for November 2015.
* **sample_submission.csv** - a sample submission file in the correct format.
* **items.csv** - supplemental information about the items/products.
* **item_categories.csv**  - supplemental information about the items categories.
* **shops.csv**- supplemental information about the shops.

# Data fields
* **ID** - an Id that represents a (Shop, Item) tuple within the test set
* **shop_id** - unique identifier of a shop
* **item_id** - unique identifier of a product
* **item_category_id** - unique identifier of item category
* **item_cnt_day** - number of products sold. You are predicting a monthly amount of this measure
* **item_price** - current price of an item
* **date** - date in format dd/mm/yyyy
* **date_block_num** - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
* **item_name** - name of item
* **shop_name** - name of shop
* **item_category_name** - name of item category

# Reading Data Set

In [4]:
sales_train = pd.read_csv("sales_train.csv")
items = pd.read_csv("items.csv")
item_categories = pd.read_csv("item_categories.csv") 
shops = pd.read_csv("shops.csv")

# Getting basic insight of data frames

In [6]:
print(" sales_train -> ", sales_train.shape, "\n",
     "items -> ", items.shape, "\n",
     "item_categories -> ", item_categories.shape, "\n",
     "shops -> ", shops.shape)

 sales_train ->  (2935849, 6)
 items ->  (22170, 3)
 item_categories ->  (84, 2)
 shops ->  (60, 2)

### ----------------------------------------->>     sales_train  <<------------------------------------------------------###

In [23]:
sales_train.columns, len(sales_train.columns)

(Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
        'item_cnt_day'],
       dtype='object'), 6)

In [15]:
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [19]:
sales_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [10]:
sales_train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

### ----------------------------------------->>     items    <<------------------------------------------------------###

In [25]:
items.columns, len(items.columns)

(Index(['item_name', 'item_id', 'item_category_id'], dtype='object'), 3)

In [26]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [27]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
item_name           22170 non-null object
item_id             22170 non-null int64
item_category_id    22170 non-null int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

In [28]:
items.describe()

           item_id  item_category_id
count  22170.00000      22170.000000
mean   11084.50000         46.290753
std     6400.07207         15.941486
min        0.00000          0.000000
25%     5542.25000         37.000000
50%    11084.50000         40.000000
75%    16626.75000         58.000000
max    22169.00000         83.000000

### ----------------------------------------->>     item_categories    <<------------------------------------------------------###

In [30]:
item_categories.columns, len(item_categories.columns)

(Index(['item_category_name', 'item_category_id'], dtype='object'), 2)

In [31]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [32]:
item_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
item_category_name    84 non-null object
item_category_id      84 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

In [33]:
item_categories.describe()

       item_category_id
count         84.000000
mean          41.500000
std           24.392622
min            0.000000
25%           20.750000
50%           41.500000
75%           62.250000
max           83.000000

### ----------------------------------------->>     shops    <<------------------------------------------------------###

In [34]:
shops.columns, len(shops.columns)

(Index(['shop_name', 'shop_id'], dtype='object'), 2)

In [35]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [36]:
shops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
shop_name    60 non-null object
shop_id      60 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

In [37]:
shops.describe()

         shop_id
count  60.000000
mean   29.500000
std    17.464249
min     0.000000
25%    14.750000
50%    29.500000
75%    44.250000
max    59.000000

### Concatinating dataframes

In [40]:
sales_train.merge(items, on="item_id")

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id
0,02.01.2013,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
1,23.01.2013,0,24,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
2,20.01.2013,0,27,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
3,02.01.2013,0,25,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
4,03.01.2013,0,25,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
5,20.01.2013,0,25,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
6,23.01.2013,0,25,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
7,26.01.2013,0,25,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
8,27.01.2013,0,6,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
9,10.01.2013,0,15,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
10,10.01.2013,0,7,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
11,05.01.2013,0,31,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
12,02.01.2013,0,54,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
13,14.01.2013,0,42,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
14,26.01.2013,0,38,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
15,20.01.2013,0,37,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
16,02.01.2013,0,46,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
17,08.01.2013,0,44,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
18,05.02.2013,1,51,22154,657.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
19,12.02.2013,1,54,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
20,12.02.2013,1,16,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
21,22.02.2013,1,1,22154,657.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
22,10.02.2013,1,0,22154,657.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
23,05.02.2013,1,0,22154,657.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
24,21.03.2013,2,28,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
25,05.03.2013,2,57,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
26,01.04.2013,3,23,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
27,29.04.2013,3,57,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
28,15.04.2013,3,58,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
29,08.08.2013,7,58,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
...,...,...,...,...,...,...,...,...
2935819,23.10.2015,33,25,5953,1849.00,1.0,QUEEN Queen LP,58
2935820,30.10.2015,33,31,5959,1849.00,1.0,QUEEN Sheer Heart Attack LP,58
2935821,31.10.2015,33,31,10935,199.00,1.0,ДЕТЯМ Ударцев Виктор Новогодняя дискотека,55
2935822,22.10.2015,33,31,10062,28.00,1.0,ВРЕМЕННО БЕРЕМЕННА,40
2935823,16.10.2015,33,31,238,249.00,1.0,1С:Аудиокниги. Добрыня Никитич и Змей Горыныч....,45
2935824,09.10.2015,33,25,238,249.00,1.0,1С:Аудиокниги. Добрыня Никитич и Змей Горыныч....,45
2935825,25.10.2015,33,31,986,249.00,1.0,38 ПОПУГАЕВ (rem),40
2935826,23.10.2015,33,31,461,249.00,1.0,1С:Аудиотеатр. Ф.М. Достоевский. Идиот. (Digip...,45
2935827,30.10.2015,33,21,15889,2999.00,1.0,"Набор кружек Star Wars Darth Vader, Stormtroop...",69
2935828,30.10.2015,33,21,16093,1299.00,1.0,Настольная игра Дикие джунгли,64
2935829,29.10.2015,33,21,15417,799.00,1.0,Мягкая игрушка Обезьянка Вика в носочках 23см,63
2935830,22.10.2015,33,21,21073,1400.00,1.0,Футболка Darksiders The Horseman M,61
2935831,09.10.2015,33,25,139,249.00,1.0,1С:Аудиокниги. А.М. Волков. Волшебник изумрудн...,45
2935832,30.10.2015,33,25,315,249.00,1.0,1С:Аудиокниги. Марк твен. Приключения Гекльбер...,45
2935833,24.10.2015,33,25,445,249.00,1.0,1С:Аудиотеатр. Полезные загадки. (Digipack),45
2935834,30.10.2015,33,25,930,800.00,1.0,1С:Электронное обучение. Разработка электронны...,77
2935835,12.10.2015,33,22,7151,58.00,1.0,Turbo Games. Тайна рифа (PC-DVD) (Jewel),30
2935836,28.10.2015,33,22,15414,519.20,2.0,Мягкая игрушка Обезьянка Валек в шапке 20см,63
2935837,05.10.2015,33,25,13476,7998.00,-1.0,Комплект «Sony PS3 (320 Gb) (CECH-2508B)» + иг...,11
2935838,08.10.2015,33,25,13476,7998.00,1.0,Комплект «Sony PS3 (320 Gb) (CECH-2508B)» + иг...,11
2935839,02.10.2015,33,25,13476,7998.00,1.0,Комплект «Sony PS3 (320 Gb) (CECH-2508B)» + иг...,11
2935840,18.10.2015,33,25,13280,449.00,1.0,"Комикс Моя мама в Америке, она видела Буффало ...",47
2935841,24.10.2015,33,25,16105,1399.00,1.0,Настольная игра Звонго,64
2935842,29.10.2015,33,25,16094,2449.00,1.0,Настольная игра Диксит 1,64
2935843,23.10.2015,33,25,14709,898.85,1.0,МОЙ МАЛЕНЬКИЙ ПОНИ Подарочный набор,40
2935844,17.10.2015,33,25,8428,249.00,1.0,"АХ, ВОДЕВИЛЬ, ВОДЕВИЛЬ (rem)",40
2935845,01.10.2015,33,25,7903,12198.00,1.0,XBOX 360 S 250GB CONSOLE/KINECT BUNDLE KUNG FU...,15
2935846,29.10.2015,33,25,7610,2890.00,1.0,WARHAMMER ACCESSORIES: Khorne Dice арт. 65-13,64
2935847,22.10.2015,33,25,7635,2100.00,1.0,WARHAMMER MINIATURES: Dark Elf Doomfire Warloc...,64
2935848,01.10.2015,33,25,7640,4040.00,1.0,WARHAMMER MINIATURES: Stormcast Eternals Palad...,64